Características correspondientes a los delitos captados por el módulo sobre victimización.

In [2]:
import pandas as pd

In [3]:
file = '../2014/bd_envipe2014/bd_envipe2014/TMod_Vic.csv'
df_v14 = pd.read_csv(file, encoding='latin')
df_v14['year'] = 2014
df_v14.head()

,Unnamed: 0,CONTROL,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,R_SEL,AREAM_OCU,RESUL_H,...,BP6_1,BP6_2,BP6_3,BP7_1,FAC_DEL,DOM,EST,UPM,FAC_DEL_AM,year
0,0,140142,5,1,1,1,2,1,14.0,A,...,NaN,NaN,NaN,NaN,178,U,5,107,178.0,2014
1,1,140049,5,1,1,1,4,1,14.0,A,...,NaN,NaN,NaN,NaN,202,U,6,45,202.0,2014
2,2,140141,2,1,1,1,2,3,14.0,A,...,NaN,NaN,NaN,NaN,170,U,4,106,169.0,2014
3,3,140060,2,1,1,1,8,5,14.0,A,...,NaN,NaN,NaN,NaN,1225,U,5,52,1218.0,2014
4,4,100012,1,1,2,2,4,1,14.0,A,...,NaN,NaN,NaN,NaN,147,U,4,7,146.0,2014

In [4]:
file = '../2015/TMod_Vic.csv'
df_v15 = pd.read_csv(file, encoding='latin')
df_v15['year'] = 2015
df_v15.head()

,Unnamed: 0,ID_DEL,UPM,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,R_SEL,AREAM_OCU,...,BP6_2,BP6_3,BP7_1,FAC_DEL,EST_DIS,UPM_DIS,DOMINIO,ESTRATO,FAC_DEL_AM,year
0,0,0100155.01.01.02.08.1,100155,1,1,1,1,8,2,14.0,...,NaN,NaN,NaN,627,5,21,U,3,624,2015
1,1,0100462.01.01.02.08.1,100462,1,1,1,1,8,2,14.0,...,NaN,NaN,NaN,378,5,64,U,3,376,2015
2,2,0100467.04.01.02.02.1,100467,4,1,1,1,2,2,14.0,...,NaN,NaN,NaN,180,5,66,U,3,181,2015
3,3,0102317.19.01.01.02.1,102317,19,1,1,1,2,1,14.0,...,NaN,NaN,NaN,152,2,275,C,3,0,2015
4,4,0100738.02.01.02.02.1,100738,2,1,1,1,2,2,14.0,...,NaN,NaN,NaN,189,5,92,U,3,189,2015

In [8]:
file = '../2016/tmod_vic_envipe2016/conjunto_de_datos/tmod_vic_envipe2016.csv'
df_v16 = pd.read_csv(file, encoding='latin')
df_v16['year'] = 2016
df_v16.head()

,ID_VIV,ID_HOG,ID_PER,ID_DEL,UPM,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,...,BP6_2,BP6_3,BP7_1,FAC_DEL,FAC_DEL_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS,year
0,101318.05,0101318.05.01\r,0101318.05.01.03\r,0101318.05.01.03.03.1\r,101318,5,1,1,1,3,...,\r,\r,\r,206,000206\r,U\r,4,3,176,2016
1,101989.02,0101989.02.01\r,0101989.02.01.02\r,0101989.02.01.02.02.1\r,101989,2,1,1,1,2,...,\r,\r,\r,286,000286\r,U\r,2,1,256,2016
2,100777.01,0100777.01.02\r,0100777.01.02.01\r,0100777.01.02.01.02.2\r,100777,1,2,2,2,2,...,\r,\r,\r,195,000195\r,U\r,2,1,99,2016
3,101318.03,0101318.03.01\r,0101318.03.01.01\r,0101318.03.01.01.04.1\r,101318,3,1,1,1,4,...,\r,\r,\r,206,000206\r,U\r,4,3,176,2016
4,100457.03,0100457.03.01\r,0100457.03.01.03\r,0100457.03.01.03.02.3\r,100457,3,1,3,3,2,...,\r,\r,\r,202,000202\r,U\r,2,1,62,2016

In [7]:
file = '../2017/tmod_vic_envipe2017/conjunto_de_datos/tmod_vic.csv'
df_v17 = pd.read_csv(file, encoding='latin')
df_v17['year'] = 2017
df_v17.head()

,ID_VIV,ID_HOG,ID_PER,ID_DEL,UPM,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,...,BP6_2,BP6_3,BP7_1,FAC_DEL,FAC_DEL_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS,year
0,100172.02,0100172.02.01\r,0100172.02.01.02\r,0100172.02.01.02.09\r,100172,2,1,1,1,9,...,\r,\r,\r,364,000364\r,U\r,3,2,11,2017
1,100931.01,0100931.01.01\r,0100931.01.01.01\r,0100931.01.01.01.03\r,100931,1,1,1,1,3,...,\r,\r,\r,182,000182\r,U\r,3,2,111,2017
2,160114.20,0160114.20.01\r,0160114.20.01.01\r,0160114.20.01.01.02\r,160114,20,1,4,4,2,...,\r,\r,\r,211,000211\r,R\r,2,11,295,2017
3,100208.04,0100208.04.01\r,0100208.04.01.01\r,0100208.04.01.01.03\r,100208,4,1,1,2,3,...,\r,\r,\r,147,000147\r,U\r,3,2,15,2017
4,1409568.04,1409568.04.01\r,1409568.04.01.01\r,1409568.04.01.01.02\r,1409568,4,1,1,1,2,...,\r,\r,\r,1026,001026\r,U\r,4,233,6238,2017

In [9]:
df = pd.concat([df_v14, df_v15, df_v16, df_v17])

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [10]:
df_copy = df.copy()
df_copy.head()

,AREAM_OCU,BP1_1,BP1_10_1,BP1_10_2,BP1_10_9,BP1_11,BP1_12_1,BP1_12_2,BP1_12_3,BP1_12_4,...,ND_TIPO,RESUL_H,R_SEL,SEXO,TD_TIPO,UPM,UPM_DIS,Unnamed: 0,VIV_SEL,year
0,14,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,A,1,NaN,1,107,NaN,0.0,5,2014
1,14,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,A,1,NaN,1,45,NaN,1.0,5,2014
2,14,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,A,3,NaN,1,106,NaN,2.0,2,2014
3,14,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,A,5,NaN,1,52,NaN,3.0,2,2014
4,14,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,A,1,NaN,2,7,NaN,4.0,1,2014

In [11]:
df_copy.shape

(172833, 140)

In [12]:
df_copy.columns[df.isnull().any()].tolist()

['AREAM_OCU',
 'BP1_10_1',
 'BP1_10_2',
 'BP1_10_9',
 'BP1_11',
 'BP1_12_1',
 'BP1_12_2',
 'BP1_12_3',
 'BP1_12_4',
 'BP1_12_5',
 'BP1_12_9',
 'BP1_13',
 'BP1_14_1',
 'BP1_14_2',
 'BP1_14_3',
 'BP1_14_4',
 'BP1_14_9',
 'BP1_15',
 'BP1_16_1',
 'BP1_16_2',
 'BP1_16_3',
 'BP1_16_4',
 'BP1_16_9',
 'BP1_17',
 'BP1_18',
 'BP1_19_1',
 'BP1_19_2',
 'BP1_19_3',
 'BP1_19_4',
 'BP1_19_5',
 'BP1_19_6',
 'BP1_19_7',
 'BP1_19_8',
 'BP1_21',
 'BP1_22',
 'BP1_23',
 'BP1_24',
 'BP1_24_1',
 'BP1_24_2',
 'BP1_25',
 'BP1_25_1',
 'BP1_25_2',
 'BP1_26',
 'BP1_26_1',
 'BP1_26_2',
 'BP1_27',
 'BP1_28',
 'BP1_29',
 'BP1_31_1',
 'BP1_31_2',
 'BP1_31_3',
 'BP1_31_4',
 'BP1_31_5',
 'BP1_31_6',
 'BP1_31_7',
 'BP1_31_8',
 'BP1_31_9',
 'BP1_32_1',
 'BP1_32_2',
 'BP1_32_3',
 'BP1_32_4',
 'BP1_32_5',
 'BP1_32_9',
 'BP1_34',
 'BP1_35',
 'BP1_36_01',
 'BP1_36_02',
 'BP1_36_03',
 'BP1_36_04',
 'BP1_36_05',
 'BP1_36_06',
 'BP1_36_07',
 'BP1_36_08',
 'BP1_36_09',
 'BP1_36_10',
 'BP1_36_11',
 'BP1_36_99',
 'BP1_6',
 'BP1_7',
 'BP1_8',
 'BP1_9',
 'BP2_1',
 'BP3_1_01',
 'BP3_1_02',
 'BP3_1_03',
 'BP3_1_04',
 'BP3_1_05',
 'BP3_1_06',
 'BP3_1_07',
 'BP3_1_08',
 'BP3_1_09',
 'BP3_1_10',
 'BP3_1_11',
 'BP3_1_12',
 'BP3_1_99',
 'BP3_2',
 'BP4_1',
 'BP5_1',
 'BP5_2_1',
 'BP5_2_2',
 'BP5_2_3',
 'BP5_2_4',
 'BP5_3',
 'BP6_1',
 'BP6_2',
 'BP6_3',
 'BP7_1',
 'CONTROL',
 'DOM',
 'DOMINIO',
 'EDAD',
 'EST',
 'ESTRATO',
 'EST_DIS',
 'FAC_DEL_AM',
 'ID_DEL',
 'ID_HOG',
 'ID_PER',
 'ID_VIV',
 'SEXO',
 'UPM_DIS',
 'Unnamed: 0']

In [13]:
df_copy.fillna(value=-1, axis=0, inplace=True)

In [14]:
df_copy.replace({' ' : -1}, inplace=True)

In [22]:
df_copy.replace({'\r' : -1}, inplace=True)

In [27]:
df_copy.replace({99 : -1, '99' : -1}, inplace=True)

In [23]:
df_copy.replace({'0\r' : 0,
                '1\r' : 1,
                '2\r' : 2,
                '3\r' : 3,
                '4\r' : 4,
                '5\r' : 5,
                '6\r' : 6,
                '7\r' : 7,
                '8\r' : 8,
                '9\r' : 9}, inplace=True)

In [16]:
df_copy.isnull().any().any()

False

In [17]:
len(pd.isnull(df_copy).any(1).nonzero()[0].tolist())

0

In [18]:
df_copy = df_copy.astype('int64')

ValueError: invalid literal for int() with base 10: '\r'

In [25]:
for line in df_copy.columns.tolist():
    #print(line)
    try:
        df_copy[line] = df_copy[line].astype('int64')
    except:
        print(line)

DOM
DOMINIO
ID_DEL
ID_HOG
ID_PER
RESUL_H

In [57]:
for line in df_copy.columns:
    print(line, ' : ', df_copy[line].unique(), '\n')

AREAM_OCU  :  [14 -1 21 40 28 17 33 19  9  1 26  5 13 43  2 16 15 29 27  3 31  4 36 41
  7 24 25 18 10 39 12  8 32  6]

BP1_1  :  [ 5 11 10  1 12  4  7  8  2  6 -1  9  3]

BP1_10_1  :  [-1  1  0]

BP1_10_2  :  [-1  0  1]

BP1_10_9  :  [-1  0  1]

BP1_11  :  [-1  3  9  5  4  2  1  6  8  7]

BP1_12_1  :  [-1  1  0]

BP1_12_2  :  [-1  0  1]

BP1_12_3  :  [-1  0  1]

BP1_12_4  :  [-1  0  1]

BP1_12_5  :  [-1  0  1]

BP1_12_9  :  [-1  0  1]

BP1_13  :  [-1  1  2  9]

BP1_14_1  :  [-1  1  0]

BP1_14_2  :  [-1  0  1]

BP1_14_3  :  [-1  0  1]

BP1_14_4  :  [-1  0  1]

BP1_14_9  :  [-1  0  1]

BP1_15  :  [-1  2  9  1]

BP1_16_1  :  [-1  1  0]

BP1_16_2  :  [-1  0  1]

BP1_16_3  :  [-1  0  1]

BP1_16_4  :  [-1  0  1]

BP1_16_9  :  [-1  0  1]

BP1_17  :  [-1  2  1  9]

BP1_18  :  [-1  2  1  9]

BP1_19_1  :  [-1  1  0]

BP1_19_2  :  [-1  0  1]

BP1_19_3  :  [-1  0  1]

BP1_19_4  :  [-1  0  1]

BP1_19_5  :  [-1  0  1]

BP1_19_6  :  [-1  0  1]

BP1_19_7  :  [-1  0  1]

BP1_19_8  :  [-1  0  1]

BP1_20  :  [2 1]

BP1_21  :  [ 1  2 -1  9]

BP1_22  :  [ 2 -1  1]

BP1_23  :  [-1  5  3  7  4  9  6  8  2  1]

BP1_24  :  [-1  1  2  9]

BP1_24_1  :  [-1  9  1  2]

BP1_24_2  :  [-1  9  1  2]

BP1_25  :  [-1  3  2  5  9  4  1  6  7]

BP1_25_1  :  [-1  7  3  9  4  2  5  1  8]

BP1_25_2  :  [-1  7  3  9  2  4  6  5  1  8]

BP1_26  :  [-1  4  2  1  6  9  3  5]

BP1_26_1  :  [-1  4  3  9  2  6  1  5]

BP1_26_2  :  [-1  9  4  3  2  5  6  1]

BP1_27  :  [-1  3  2  1  4  9  5]

BP1_28  :  [-1  3  2  4  5  1  6  9]

BP1_29  :  [-1  2  3  4  1]

BP1_2C  :  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 -1]

BP1_30  :  [2 1]

BP1_31_1  :  [-1  0  1]

BP1_31_2  :  [-1  0  1]

BP1_31_3  :  [-1  0  1]

BP1_31_4  :  [-1  0  1]

BP1_31_5  :  [-1  0  1]

BP1_31_6  :  [-1  0  1]

BP1_31_7  :  [-1  0  1]

BP1_31_8  :  [-1  0  1]

BP1_31_9  :  [-1  1  0]

BP1_32_1  :  [ 0 -1  1]

BP1_32_2  :  [ 0 -1  1]

BP1_32_3  :  [ 0 -1  1]

BP1_32_4  :  [ 0 -1  1]

BP1_32_5  :  [ 1 -1  0]

BP1_32_9  :  [ 0 -1  1]

BP1_33  :  [1 5 3 2 4 9]

BP1_34  :  [9999999   35000    2000    1000    1500    2800   20000   30000      -1
    5000    3500     500     600       0     148   10000    1800     200
   15000    3000     300     800    6000    1200    1300     100   17000
    4000   40000    4500    8000   25000   55000     700    1400  130000
   11000   53000  110000     150     900   80000    3600     780   12000
     250    1600    2500    9000    2400      30   14000    3800    7000
     400   11300  150000   13000   70000     585     830      50  100000
    1150     450   16000   45000    3200   50000  180000 2000000      20
   19000   32000    1050    5500     330   33000  120000   37000     325
    2700    2600      40   17220    5800   22000    2300   39000   25600
   18000    2260    1625    2100    1350     350   10800     750    1100
    1700   26000   60000   23000   24000   12800     550    6500  247000
   28000     850    4550    3795   52000   44000     650   10160    7500
   66000    6300    4800   65000     380     999   36000     120    2125
      70    5100   38000      80  127000   50300     950  250000    4680
     960   96000   13600    3700  200000   63500  800000    1900  190000
   10500      15   63000     270    1250  500000    1470  300000    5400
    5300  140000      60     320       7      10    2200   42000    3400
    3070    2680   26066   14300  650000    3300   13500     110     390
    3750     825     475   34000     944  280000  230000    4700    6800
   90000  350000   22400   15500     890    7680     280    5250     840
    9500     730     369    5600    1360    5525     130     480     140
    3900    8800   10400   62000    9800     880    1980     180      95
     279      37  220000     460    6200    9200     720   57000  144000
    8600   10300     190    7600   21000     160     175   12500       9
     230   21200    1650   75000     478   27000     119    3100    7300
  115000  170000      25     260     220    4400   10100    4600  400000
    7800    1750   48000    5700    4200     680   43000      90    8500
   51000    1550   23900   12300    6600       5    3250    2900    3825
    4300    5550     210   12700   47000      75    3280    4250     240
    3979    5200    5380     127  270000     570    1595      36     169
    2386 2074000    6700     269    2350       4      45  135000      48
 1000000      35   12200    1230    3060     135     158  218000   85000
  105000     430    1870    4220   12900    6400    8400    7400     580
   11500     290     189     690    6681  160000     368      77    7700
     170       6      16   26300  240000      96    6100     722    1060
    1220    4460     360    2080    1170     560    2160     144     174
   50400      22    1915    3058     860    3820    2370  154000  450000
     125     348     540    3050    2450  320000    6900     162   14500
      65    1580   12600   12400   11700    8750    4900   12050     165
 1500000     420    8900  217000  340000  147000    1090      52     310
   95000    4055  192000    1950   23500   84375      26   32200   29000
     415  210000     899   11800    3755     910    8150    1020   22300
    1190     565    2150    9600  600000    8957   14800    2524     358
     399      32     340    7200      46     164  102000     640   68000
      85   41000     186    8200  850000   16500  172000     375    2925
   60500   17550   40500   20250   76750     490     470  234000    2514
       3   34800    1760    1320   46050     453    8700    2550       2
    3339    3350    1680  168000     870    1659    1798     520    1030
  420000      73      89      24   54000    1160    2277  380000    2050
  165000     787    1850     115 4000000 1526000  152000 1150000  700000
     440      27    2022    2250    2270     370   83000     145    1340
      56   17200    4100    1520      12     537     437   19500   87000
     590  112000   10700    9700   46000  113000  126000    1376  125000
  750000  137000  720000      18    8100     326      59   74000  195000
      38    9300  360000     137  187000    8250   17500     675   15600
    4150    3150     425     530    1260     526    1880  153500   17800
     105  153800    1690  945000       8   10600   37500   24600     245
   32400   15250    2575     630   56000     740     225     195   36500
     635   27500    3890    2750   13900    4950   10480     848    2230
   18500   59000   10922   11650    5900     892    3850     275    1560
  625000     970    3650    4696   15580   15300    1565   31309   39136
       1    1856   46963   16360    7900   78000     920    3460  900000
     102    1450   22800    1280    1025    4560   76000 1800000     990
   89000   24800    1480     997  260000     865     620 1380000    7100
    3950 1000001      11    1930   16400     760   72000    2140     525
   11900     510   82000    1240  161000   49000     699     790     660
   54900     980  290000     613   16520    3080   15800    6430   31000
    4340     465    1570    1315    1140   28500    4050     424      55
    2365   58600    2850    1080     296    4750    2930     185    4850
   38500   30300    1038  163000    5120    2847     988  119000    8864
    3230   16700   98000   11200    7474     155   37370    5014    3737
   93426   51382    2020   28028     859    2242    5606   59792  168166
    9343   18685   20020   46713    1228     129      54  110500     294
   38477    5495     827     556    1420    9400      21   12100   29800
     747  162000    1136     108     321     199    7060    1380      66
      28   16600    8300    1710   32500  375000    2228   58000    2130
  173000    1920    2170    9100    1780   21800     710    1007     256
   13080   11211   13640  185000    4650     495     485    1499    4528
  257000     435   23800    2340   25900     419      14   80500     298
    1770    1375    2880    2367     385     238  128000     664    1117
   47690   97000   21400 1200000   21500    1070   18400    3780  164000
   15200   15150   16300     133     184     785     586  325000]

BP1_35  :  [      0      -1 9999999     200   17000    3000     500     900      50
    2500    1000    1500    5000    2000     150     800    6000    3200
     300     400   10000    6800     100     700    4000    1800     180
    1700     360     250   20000     220   14000    1200   22000    8000
   18000   12000     740    2400   50000    7000      45    3100    3800
     600      70     350    1600    3600     120     130     750   60000
   30000   15000      30     450   24000    3500    4500     420  200000
   25000      80      64    1100     650    4800    9000    2100  100000
      20      40   85000   37000     550      60     170  150000   70000
    1900   65000      15     850    1300   48300   38000     270     240
      25     320   80000    1400     160  250000      92   26000   16000
      35  300000   32000    2800     185   10500    6600    6500     230
     114  500000   21000     480       9   66000   13000   40000     520
      90  168000     380       6  165000    4300    7580    2900   75000
    2300    5800     275     280   36000     225   11000      12    1250
   35000      10    1570  140000    1995  400000     430      85     370
    1350     179      55       1    7200    7600   10800      89     950
   22500    3300     215       7   79000    2200      28    3900       8
   47000    5300    5500    2700  385000   90000    1760   31000     343
     260     980     720  120000     216    1050   17500   93426    4200
   28000    1750   13400     725    7500    1950    6400   50400      75
  650000    4700   72000   48000    3700    2250     710   25500     770
     419   14400    1770    3450      22    5200  110000 1000000     555
   42000    3400     630]

BP1_36_01  :  [ 1 -1  0]

BP1_36_02  :  [ 1 -1  0]

BP1_36_03  :  [ 1 -1  0]

BP1_36_04  :  [ 1 -1  0]

BP1_36_05  :  [ 1 -1  0]

BP1_36_06  :  [ 1 -1  0]

BP1_36_07  :  [ 1 -1  0]

BP1_36_08  :  [ 1 -1  0]

BP1_36_09  :  [ 1 -1  0]

BP1_36_10  :  [ 0 -1  1]

BP1_36_11  :  [ 0 -1  1]

BP1_36_99  :  [ 0 -1  1]

BP1_3C  :  [  1   2   3   4   5   6   7   8   9  10  11 999  14  17  18  20  24  25
  27  28  30  32  33  35  36  37  38  12  13  15  16  19  21  22  23  31
  34  39  40  41  44  46  47  48  51  54  59  60  61  62  63  65  66  67
  68  70  71  72  73  74  75  76  78  79  80  81  85  86  87  89  91  92
  93  94  96  97  98  -1 100 101 102 103 105 106 107 108 114 116  29  45
  50  55  26  42  43  56  57  58  69  77  49  52  64  82  83  84  53  88
 118 120 121 124  95 104 109 110 111 117 119 122 125 112 123 135 143 154
 157 184 185 190 198 203 206 215 225 245 253 265 278 298 300 301 307 318
 324 327 333 334 340 349 350 369 375 378 384 385 386 390 397 399 401 409
 413 414 427 439 441 452 455 456 473 483 485 496 505 508 513 515 525 531
 533 545 546 551 553 565 570  90 115 128 132 134 136 137 138 140 141 144
 153 155 156 159 161 164 168 169 177 178 183 188 189 191 194 197 199 202
 207 208 211 213 217 129 130 131 133 142 148 149 151 160 174 175 180 181
 182 186 193 195 200 204 205 210 113 221 234 259 261 293 294 295 317 338
 405 412 418 419 424 431 450 459 464 469 470 482 491 519 520 540 150 152
 162 170 172 179 126 163 196 209 166 248 283 309 315 346 454 466 467 139
 212 145 173 201 167 171 226 237 247 310 330 344 356 364 366 367 398 406
 446 472 475 506 526 557 558 176 187 192]

BP1_4  :  [4 1 3 2 9]

BP1_5  :  [1 2 8 3 5 4 9 6 7]

BP1_6  :  [ 2 -1  1]

BP1_7  :  [-1  2  1]

BP1_8  :  [-1  1  2  9]

BP1_9  :  [-1  6  1  2  3  9  4  5]

BP2_1  :  [-1  1  2  9]

BP3_1_01  :  [-1  0  1]

BP3_1_02  :  [-1  0  1]

BP3_1_03  :  [-1  0  1]

BP3_1_04  :  [-1  1  0]

BP3_1_05  :  [-1  0  1]

BP3_1_06  :  [-1  1  0]

BP3_1_07  :  [-1  1  0]

BP3_1_08  :  [-1  0  1]

BP3_1_09  :  [-1  1  0]

BP3_1_10  :  [-1  0  1]

BP3_1_11  :  [-1  0  1]

BP3_1_12  :  [-1  0  1]

BP3_1_99  :  [-1  0  1]

BP3_2  :  [-1  2  1  9]

BP4_1  :  [-1  1  4  6  9  3  5  2]

BP5_1  :  [-1  1  4  5  3  9  7  2  6]

BP5_2_1  :  [-1  1  0  9]

BP5_2_2  :  [-1  1  0  9]

BP5_2_3  :  [-1  0  1  9]

BP5_2_4  :  [-1  0  1  9]

BP5_3  :  [-1  3  1  2  9]

BP6_1  :  [-1  1  9  2  4  3]

BP6_2  :  [-1  1  3  2  9  4]

BP6_3  :  [-1  1  2  9]

BP7_1  :  [-1  2  1  4  3  9  5]

BPCOD  :  [ 2  4  8  6  1 10  7  3  5  9 14 11 13 12 15]

CONTROL  :  [ 140142  140049  140141 ... 3240206 3240094      -1]

DOM  :  ['U' 'R' 'C' '-1']

DOMINIO  :  ['-1' 'U' 'C' 'R' 'U\r' 'C\r' 'R\r']

EDAD  :  [-1 42 48 30 59 38 25 68 40 18 33 52 57 20 29 27 41 47 53 44 28 35 31 21
 64 60 19 23 43 32 22 45 51 24 49 39 56 36 37 34 76 50 58 26 61 67 73 77
 98 55 86 78 62 54 46 75 65 66 69 72 81 84 85 63 80 87 74 83 70 71 82 97
 88 92 95 79 91 89 90 94 96 93]

EST  :  [  5   6   4   3   2   1 232 137 153  42 174 168  91   7   9  13  12  14
   8  18  22  20  40 176  23  10 140 231 152  11 177 190 191 215  65 113
  45 182  16  17  19  21 198  28  15  25  26  24  29  30 106 155  27 195
 193 165 196  35  36  34  32  31  33  37 237  63  68  67  77  69  38  41
  39  43  96  94 101  46  44  49  50  47  48 164 197  51 194 230  57  53
  55  52  54  58  56 139 207 114  64 133 136 100  61 104  62  60 163 159
 105 167 212 118 117 102 166 229 120  86 103 209  97  80  59 213  87  98
 210  79 121 148  85  89 183 211 158 160 122 143  90 119  82 141 221 151
 206  88 181 111  66 124  70  72  73  76  75  71 157 175 108  74 173  92
 171  81  83  78  84 129 144 115 223  93 107  95 123 199 234 127 126 205
 235 162 110 154 161  -1 222 236 138 116 147 128 109 112 146 125 130 131
 135 134 238 132 219 145 142 149 150 214 218 156 226 225 224 169 170 172
 179 178 180 187 185 186 184 189 188 192 216 200 202 203 201 204 208 217
 220 227 228 233]

ESTRATO  :  [-1  3  2  4  1]

EST_DIS  :  [ -1   5   2   1   4   3 235   6 108  76  42 238 233  13   7  14  12   8
   9  41  16  19 177 224  67  10 184 189 190 127  80  97 126 176  11 125
  23 218 187 138 179 120 229  17  20  22  21  15  18 131  25  24  26  30
  29  28 216  46  27 228 230 193  35  36  37  32  31 156  33  34  68 137
 130 136  69  65  64  39  38  43  40 110 158  98  45 196  47  49  48 165
  44 197 152 199  50  51 139 153 198  53  52  55  54  57  56  58  63 236
 182 212 166  60  61 123 104  62  87 101 148 144 105 117 106 100 237 122
 115 121 211 209 167 111 128  85 155 157  59 210 160 181 119 143 140 214
 183 213 231 221  89 207 175 151 113  75  66  70  71  72 159  73  77 161
 174 116  74 114 109  81  82  78  83  79  84 164  88  86  90 102 149 147
  91  92  94  93 232  96  95 129 169 171 200 173 103 142 223 118 124 154
 195 107 112 135 133 132 134 206 191 141 219 145 188 146 150 162 163 225
 226 222 170 172 168 178 180 185 186 194 192 205 204 202 203 201 208 215
 217 220 227 234 240 590 416 595 328 434 308 569 451 437 426 307 366 396
 411 354 521 425 429 474 477 571 478 573 473 400 247 321 320 488 420 368
 492 348 472 479 570 475 246 391 289 351 567 587 290 256 507 430 506 553
 397 378 288 375 302 248 314 264 462 265 371 374 249 300 252 367 263 260
 522 305 519 431 428 512 536 514 467 556 410 261 285 511 339 251 389 370
 341 509 269 267 352 298 443 405 524 445 385 279 281 283 442 244 268 383
 382 278 362 313 304 245 377 563 372 365 242 241 243 239 516 317 358 309
 316 343 284 436 274 312 287 306 262 421 517 250 373 523 566 392 257 258
 259 481 355 356 580 297 301 468 255 254 253 543 344 280 286 282 398 276
 277 550 270 266 402 272 271 273 275 384 303 299 294 291 292 296 293 295
 310 315 311 334 319 331 330 560 332 333 327 326 325 324 322 318 413 323
 329 419 393 349 346 350 345 347 539 336 342 338 337 335 340 369 357 361
 489 359 520 515 564 360 510 518 353 363 513 364 388 386 376 379 380 387
 381 403 404 406 407 394 408 555 390 470 395 579 399 401 446 469 418 412
 414 415 417 409 500 561 439 435 438 448 433 423 424 422 432 427 459 464
 465 458 444 460 461 463 454 453 452 441 440 455 456 457 449 447 450 471
 476 466 508 482 484 486 485 483 499 480 505 493 502 491 504 494 501 497
 496 495 490 487 503 558 498 559 565 552 532 528 525 527 547 557 541 562
 540 554 535 542 546 549 530 551 538 537 529 531 534 544 545 548 526 583
 582 581 584 578 574 572 577 576 568 575 588 586 591 592 589 593 594 585
 598 597 533 596]

FAC_DEL  :  [ 178  202  170 ... 2767 3395 2281]

FAC_DEL_AM  :  [ 178  202  169 ... 2786 3395 2281]

HOGAR  :  [1 2 3 4 5]

ID_DEL  :  ['-1' '0100155.01.01.02.08.1' '0100462.01.01.02.08.1' ...
 '2201874.02.01.01.01\r' '2601808.01.01.01.07\r' '0504130.02.01.01.07\r']

ID_HOG  :  ['-1' '0101318.05.01\r' '0101989.02.01\r' ... '2960061.19.01\r'
 '3004146.03.01\r' '0504130.02.01\r']

ID_PER  :  ['-1' '0101318.05.01.03\r' '0101989.02.01.02\r' ... '2960061.19.01.09\r'
 '3004146.03.01.02\r' '0504130.02.01.01\r']

ID_VIV  :  [     -1  101318  101989 ...  100479 3004146  504130]

ND_TIPO  :  [1 2 3 4 5]

RESUL_H  :  ['A' 'A\r']

R_SEL  :  [ 1  3  5  4  2  8  6  7  9 10 14 18 11 19 12]

SEXO  :  [-1  2  1]

TD_TIPO  :  [1 2 3 4 5]

UPM  :  [    107      45     106 ... 3200951 3004146  504130]

UPM_DIS  :  [   -1    21    64 ... 13134 13168 12333]

Unnamed: 0  :  [    0     1     2 ... 44696 44697 44698]

VIV_SEL  :  [ 5  2  1  3  4 11 12  7 15 20 16 18 10  9 13 17  8  6 14 19 25 29 22 23
 33 37 21 28 31 38 30 35 36 27 39 32 34 40 24 26 43 45 41]

year  :  [2014 2015 2016 2017]

In [ ]:
df_copy.to_csv('../dataframes/victimizacion.csv')