In [1]:
import pandas as pd
from simpledbf import Dbf5

In [2]:
# convert from DBF to CSV
def dbf_to_csv (in_dbf, out_csv):    
    dbf = Dbf5(in_dbf, codec='latin_1')
    dbf.to_csv(out_csv)

    df = pd.read_csv(out_csv, encoding='latin-1', low_memory=False)
    df.to_csv(out_csv, encoding='utf-8')
    return df

In [7]:
# example ../../Datasets/ENSU/data/ensu_bd_marzo_2017_dbf/ENSU_CB_0317.csv
in_dbf = 'ENVIPE/data/2014/bd_envipe2014/bd_envipe2014/TSDem.dbf'
out_csv = 'ENVIPE/data/2014/bd_envipe2014/bd_envipe2014/TSDem.csv'

df = dbf_to_csv(in_dbf=in_dbf, out_csv=out_csv)

df.head()

,CONTROL,VIV_SEL,HOGAR,RESUL_H,N_REN,PAREN,SEXO,EDAD,FN_DIA,FN_MES,...,NIV,GRA,AP3_8,AP3_9,AP3_10,FAC_HOG,DOM,EST,UPM,FAC_HOG_AM
0,100001,1,1,B,1,1,2,66,NaN,NaN,...,0.0,0.0,5.0,4.0,NaN,191,U,5,1,192.0
1,100001,1,1,B,2,2,1,71,NaN,NaN,...,2.0,6.0,6.0,4.0,NaN,191,U,5,1,192.0
2,100001,2,1,B,1,1,2,44,NaN,NaN,...,3.0,3.0,5.0,4.0,NaN,191,U,5,1,192.0
3,100001,2,1,B,2,5,2,28,NaN,NaN,...,6.0,3.0,1.0,NaN,2.0,191,U,5,1,192.0
4,100001,2,1,B,3,3,1,5,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,191,U,5,1,192.0