# ENH
### Diseño conceptual
#### Población objetivo
La constituyen los hogares de nacionales o extranjeros, que residen habitualmente en viviendas particulares dentro del territorio nacional.

#### Cobertura temática
* Información sociodemográfica.
* Educación.
* Salud.
* Vivienda.
* Ocupación.
* Tecnologías de la información.

### Diseño Estadístico
#### Tamaño de la muestra
* 2014: 64 mil viviendas.
* 2015: 64 mil viviendas.
* 2016: 64 mil viviendas.
* 2017: 64 mil viviendas.
* Total: 256 mil viviendas.

#### Unidad de observación
El hogar.

#### Unidad de muestreo
La vivienda.

#### Unidad de análisis
El hogar, la vivienda y los integrantes del hogar.

In [26]:
import pandas as pd

* `df_v14`: viviendas_enh_2014_csv.csv
* `df_v15`: vivienda.csv
* `df_v16`: vivienda.csv
* `df_v17`: vivienda.csv

In [27]:
file = '../2014/viviendas_enh_2014_csv.csv'
df_v14 = pd.read_csv(file, encoding='latin')
df_v14['year'] = 2014
df_v14.head()

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,folioviv,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,cocina,cocina_dor,cuart_dorm,num_cuarto,...,tot_resid,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor_viv,year
0,10001801,1,8,9,3,30,1,2.0,3,6,...,4,1,10010001,029-0,1,3,9,710,243,2014
1,10001803,1,8,9,3,26,1,2.0,3,10,...,4,1,10010001,029-0,1,3,9,710,243,2014
2,10001804,1,8,9,3,23,1,2.0,2,5,...,2,1,10010001,029-0,1,3,9,710,243,2014
3,10001805,1,8,9,3,10,1,2.0,4,7,...,6,1,10010001,029-0,1,3,9,710,243,2014
4,10002201,1,8,9,3,1.79769313486232e+308,1,2.0,1,4,...,4,1,10010001,030-3,1,3,2,1450,262,2014

In [28]:
file = '../2015/vivienda.csv'
df_v15 = pd.read_csv(file, encoding='latin')
df_v15['year'] = 2015
df_v15.head()

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,folioviv,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,cocina,cocina_dor,cuart_dorm,num_cuarto,...,tot_resid,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor_viv,year
0,10000601,1,8,9,3,,1,2,2,4,...,2,1,10010001,028-6,1,3,5,10,163,2015
1,10000602,1,8,9,3,25,1,2,1,8,...,2,1,10010001,028-6,1,3,5,10,163,2015
2,10000603,1,8,9,3,,1,2,4,9,...,8,1,10010001,028-6,1,3,5,10,163,2015
3,10000604,1,8,9,3,,1,2,2,6,...,4,1,10010001,028-6,1,3,5,10,163,2015
4,10000605,1,8,9,3,40,1,2,2,3,...,3,1,10010001,028-6,1,3,5,10,163,2015

In [29]:
file = '../2016/vivienda.csv'
df_v16 = pd.read_csv(file, encoding='latin')
df_v16['year'] = 2016
df_v16.head()

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,folioviv,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,ais_techos,ais_pared,ais_ventan,...,tot_resid,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor,year
0,100006018,1,,,8,9,3,2,2,2,...,4,1,10010001,028-6,1,3,1,1,165,2016
1,100006037,1,,,8,9,3,2,2,2,...,2,1,10010001,028-6,1,3,1,1,165,2016
2,100006055,1,,,8,9,3,2,2,2,...,2,1,10010001,028-6,1,3,1,1,165,2016
3,100006068,1,,,8,9,3,2,2,2,...,4,1,10010001,028-6,1,3,1,1,165,2016
4,100006085,1,,,8,9,2,2,2,2,...,4,1,10010001,028-6,1,3,1,1,165,2016

In [30]:
file = '../2017/vivienda.csv'
df_v17 = pd.read_csv(file, encoding='latin')
df_v17['year'] = 2017
df_v17.head()

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,folioviv,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,ais_techos,ais_pared,ais_ventan,...,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor,year
0,100008010,1,,,8,9,3,2,2,2,...,1,1,10010001,028-6,1,4,8,1,221,2017
1,100008034,1,,,8,9,3,1,2,2,...,1,1,10010001,028-6,1,4,8,1,221,2017
2,100008077,1,,,8,9,3,9,9,2,...,1,1,10010001,028-6,1,4,8,1,221,2017
3,100025016,1,,,8,9,3,1,2,2,...,1,1,10010001,030-3,1,3,7,2,194,2017
4,100025022,1,,,8,9,3,2,2,2,...,1,1,10010001,030-3,1,3,7,2,194,2017

In [31]:
df = pd.concat([df_v14, df_v15, df_v16, df_v17])

In [32]:
df_copy = df.copy()
df_copy.head()

,ageb,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,anio_panel,anio_res,antiguedad,auto_pick,...,tot_hog,tot_resid,tv_paga,ubica_geo,upm,uso_compar,valor_viv,vend_hered,viv_usada,year
0,029-0,2,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN,...,1,4.0,NaN,10010001,710,2,NaN,NaN,NaN,2014
1,029-0,2,NaN,NaN,NaN,NaN,NaN,NaN,26,NaN,...,1,4.0,NaN,10010001,710,2,NaN,NaN,NaN,2014
2,029-0,2,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,...,1,2.0,NaN,10010001,710,2,NaN,NaN,2,2014
3,029-0,2,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,1,6.0,NaN,10010001,710,2,NaN,NaN,NaN,2014
4,030-3,2,NaN,NaN,NaN,NaN,NaN,NaN,1.79769313486232e+308,NaN,...,1,4.0,NaN,10010001,1450,2,NaN,NaN,1,2014

In [33]:
df_copy.shape

(217147, 134)

In [45]:
df_copy.columns[df_copy.isnull().any()].tolist()

[]

In [35]:
df_copy.fillna(value=-1, axis=0, inplace=True)

In [36]:
df_copy.replace({' ' : -1}, inplace=True)

In [37]:
df_copy.replace({'1.79769313486232e+308' : -1}, inplace=True)

In [38]:
df_copy.replace({'&' : -1}, inplace=True)

In [39]:
df_copy.isnull().any().any()

False

In [40]:
len(pd.isnull(df_copy).any(1).nonzero()[0].tolist())

0

In [41]:
for line in df_copy.columns.tolist():
    #print(line)
    try:
        df_copy[line] = df_copy[line].astype('int64')
    except:
        print(line)

ageb

In [42]:
for line in df_copy.columns:
    print(line, ' : ', df_copy[line].unique(), '\n')

ageb  :  ['029-0' '030-3' '034-1' ..., '252-0' '144-7' '256-9']

aire_acond  :  [2 1]

ais_otro  :  [-1  2  9  1]

ais_pared  :  [-1  2  9  1]

ais_techos  :  [-1  2  9  1]

ais_ventan  :  [-1  2  9  1]

anio_panel  :  [  -1 2015 2014 2010 2006 2007 2002 2001 2012 2005 2008 2016 2013 2009 2011
 2004 2017]

anio_res  :  [-1  0 10  2  8  6 11  1  3 12 32  7 30  5 19  4 23  9 14 13 15 22 21 60 18
 28 16 17 20 25 40 50 35 29 44 47 27 39 26 36 45 61 42 37]

antiguedad  :  [30 26 23 10 -1 40 35 50 34 43 45 42  3 60 28 70 33 39 32 25 80 99 69 47 46
 41 24 12 44 19 55 27 20 22  4 29 15 13 36  7  8  2 14  5 37 38 31  1  9 18
 11 21 17 16  6 48 90 65 52 54 64 53 72 74 49 51 75  0 63 58 73 62 68 67 89
 86 56 59 66 83 84 57 78 92 81 77 98 71 95 85 79 94 76 87 97 88 82 61 91 93
 96]

auto_pick  :  [-1  1  2]

bano_comp  :  [ 2  3  1  0  4 -1  6  5  8  7  9]

bano_excus  :  [ 0  1  2  3 -1  9  4  5  6  8]

bano_regad  :  [ 0  1 -1  3  2  9  8  4  6  5]

bomba_agua  :  [1 2]

calefacc  :  [2 1]

calent_gas  :  [-1  1  2]

calent_sol  :  [-1  2  1]

calentador  :  [ 1  2 -1]

celular  :  [-1  2  1]

chimenea  :  [2 1]

cisterna  :  [1 2]

cocina  :  [1 2]

cocina_dor  :  [ 2  1 -1]

combustible  :  [ 3  4  1  6  5  2 -1]

computador  :  [-1  2  1]

comun1  :  [-1  1  2]

comun10  :  [-1  2  1]

comun11  :  [-1  2  1]

comun12  :  [-1  2  1]

comun13  :  [-1  2  1]

comun14  :  [-1  2  1]

comun15  :  [-1  2  1]

comun16  :  [-1  2  1]

comun17  :  [-1  1  2]

comun2  :  [-1  1  2]

comun3  :  [-1  1  2]

comun4  :  [-1  1  2]

comun5  :  [-1  2  1]

comun6  :  [-1  1  2]

comun7  :  [-1  2  1]

comun8  :  [-1  2  1]

comun9  :  [-1  1  2]

condominio  :  [-1  4  3  5  2  6  7  8 13 11 12  9 14 10 16 15 22 24 23]

const_bano  :  [2 1]

const_coci  :  [2 1]

const_dorm  :  [2 1]

const_neg  :  [-1  2  1]

cuart_dorm  :  [ 3  2  4  1  5  6  7  8 10  9 11 15]

disp_agua  :  [1 2 5 4 3 6]

disp_elect  :  [1 5 2 4 3]

dispos_ne  :  [-1  9]

dispos_nh1  :  [-1  1]

dispos_nh2  :  [-1  1  2]

dispos_no1  :  [-1  2  1  3  4]

dispos_no2  :  [-1  2  4  1  3]

dotac_agua  :  [ 1  2  3 -1  4  5]

drenaje  :  [1 2 5 3 4]

elevador  :  [-1  2  1]

eli_basura  :  [3 1 4 5 6 2 7 8]

escrituras  :  [ 1  3  2 -1  9  4  5]

est_dis  :  [  9   2   8   3   6   4  10   5   7   1  12  11  14  13  16  15  17  19
  18  21  20  23  22  25  24  27  26  29  28  31  30  33  32  35  34  37
  36  39  38  41  40  43  42  45  44  47  46  49  48  51  50  53  52  55
  54  57  56  59  58  61  60  63  62  69  68  70  67  64  66  65  77  76
  78  75  71  72  74  73  83  85  84  82  79  80  81  91  90  92  89  86
  87  88  99 100  98  97  93  94  96  95 106 107 108 105 102 101 103 104
 115 116 114 110 111 109 113 112 122 123 124 118 117 121 120 119 129 130
 131 125 126 128 127 136 137 138 135 133 132 134 145 146 144 140 143 139
 142 141 153 152 154 151 148 147 149 150 160 161 159 156 155 158 157 166
 167 168 165 162 163 164 175 176 177 174 170 171 169 173 172 183 184 182
 178 179 181 180 192 191 190 189 186 185 188 187 198 199 200 194 195 193
 197 196 206 207 208 205 201 202 204 203 214 213 215 210 209 212 211 223
 222 224 221 218 217 216 219 220 231 230 232 229 226 225 227 228 237 238
 239 234 233 235 236 245 246 247 244 240 248 241 249 242 243 256 257 258
 250 251 253 252 254 255 265 264 266 259 260 261 263 262 274 273 275 272
 267 268 269 271 270 284 282 283 276 277 279 278 285 280 281 292 293 294
 291 295 296 287 286 288 290 289 302 303 304 297 305 306 298 299 307 308
 301 300 315 316 314 309 317 318 311 319 310 312 313 328 327 329 326 321
 331 332 330 320 322 323 333 324 325 340 339 341 334 335 336 338 337]

est_socio  :  [3 2 4 1]

estaciona  :  [-1  1  3  2  8  4 10  6  5  7  9]

estufa_chi  :  [-1  2  1]

excusado  :  [1 2]

factor  :  [  -1  165  174 ..., 1774 1956 1102]

factor_viv  :  [ 243  262  268 ..., 1228 1217   -1]

facul_ne  :  [-1  9]

facul_nh1  :  [-1  1]

facul_nh2  :  [-1  1  2]

facul_no1  :  [-1  2  1  3  4]

facul_no2  :  [-1  2  1  3  4]

familiar  :  [-1  1  2]

financia_1  :  [-1  1]

financia_2  :  [-1  2]

financia_3  :  [-1  3]

financia_4  :  [-1  4]

financia_5  :  [-1  5]

financia_6  :  [-1  6]

financia_7  :  [-1  7]

financia_8  :  [-1  8]

focos_ahor  :  [ 8 23 14 30  0  6  1  4 20 13  7  5 18  9 12  3  2 10 15 11 32 16 25 50 -1
 24 17 26 36 48 40 22 34 28 60 19 21 33 27 70 90 35 37 31 29 41 44 49 45 99
 92 43 65 96 42 39 53 47 55 38 62 75 82 64 63 52 46 98 80 58 74 57 56 51 88
 66 54 77 61 95 76]

focos_inca  :  [ 8  0  4  1 13  6  5  7  3  2 49 10  9 12 50 15 14 -1 11 99 24 19 17 18 25
 16 20 30 22 21 60 40 28 29 70 23 34 26 33 32 42 27 35 31 98 65 39 80 45 38
 75 36 46 78 90 37 91]

folioviv  :  [  10001801   10001803   10001804 ..., 3260737208 3260737210 3260737211]

fregadero  :  [1 2]

hog_dueno1  :  [ 1 -1  2  3  4  5]

hog_dueno2  :  [-1  1  2  3]

internet  :  [-1  1  2]

lavadero  :  [1 2]

mat_pared  :  [8 7 1 3 6 2 5 4]

mat_pisos  :  [ 3  2  1 -1]

mat_techos  :  [9 3 4 6 7 2 8 1 5]

medidor_luz  :  [1 2]

mes_res  :  [-1  6  0  7  3 11  1  5  2  8  9 10  4]

num_cuarto  :  [ 6 10  5  7  4  9  3  8  2  1 11 12 14 13 15 16 17 18 22 20 19]

num_dueno1  :  [ 1  3 -1  2  4  7  5  6  9  8 11 10 15 13]

num_dueno2  :  [-1  2  3  1  4  5  6  9  7 12  8 14]

pago_renta  :  [   -1  1000  1200  1300  1600   950   700   500  2500  3000  2000  2200
  4000  1500  1800  1700  2900  3800  3750  2650 21000  2300  1100   800
  3500  1250   200   450   900  1400   600  5000  4500  1150  2700  7000
   850  3300  6000   400   750   100   250  5900  2800  3400  9000  8000
  3600 12600  5400  5500  1750  1900  2600  5200  8400  2100  3700  6500
  1650  4300  4200  3900  6600   650   350   300   550 21600 20000 18000
 23000 15000 13000  1350  4600 20009  7500 22500  3200 11500 12000 10000
   480   440  2400  7300  4800  8800    13   474   740 11000  1050  9999
  1550  2750  1850  5600   730    10  2250  5650 18900 24000  2450   125
 85000 16500 13500  9800  6400 14400  6300 19000 13600 13700  7200  9200
 14000  8500  6100  4100 53550 13400 25000 25500 26000 50000  4250  1070
  1450  4700  1040   660   870  1460  1950  8080 17400  5700  5300  6450
  6700  1130    98  1620  1190  1060   560  2220  3650  3100   580 10500
   635  1660  1310  2630   840 16000 40000  2850   275     0  5275  9500
   120   380 10600  5800 30000  2350  2150  9600 12500  6800   150  4150
  3850  1360  4125  2175 17000   910   573    50  3250   760   999 45000
  5250 10800  4350  6125  3252   980   460   670  1020   680  6200 35000
 22000  7800 10200  7100  6150  5130 38000 36000 31000  1880  3050   925
 15500  2550  3150  7600  8750   470  8300  1920     1  5150  5100 13200
  8250 14500   430  6250  1085  4400  1509   920  7400   675   830    41
   555   240   880   970   710]

panel_ne  :  [-1  9]

pileta  :  [2 1]

pot_panel  :  [-1  2  1]

potencia  :  [ -1 999 135 230  60  75  14 129  13 120 200 100 110  24  70  20  40   2
 750  80   8 400  12  50 800 103  65  45 130 250 150  90 600  15 500  30
 145   4  55  51  62 220 300 210]

rega_elect  :  [-1  2  1]

regadera  :  [1 2]

ren_estufa  :  [-1  2  1]

ren_horno  :  [-1  2  1]

ren_lavad  :  [-1  2  1]

ren_planch  :  [-1  2  1]

ren_refri  :  [-1  2  1]

ren_tv  :  [-1  2  1]

repar_agua  :  [2 1]

repar_cabl  :  [2 1]

repar_dren  :  [2 1]

repar_pard  :  [2 1]

repar_tech  :  [2 1]

sanit_agua  :  [ 1  2 -1  3]

tam_loc  :  [1 2 3 4]

tanque_gas  :  [1 2]

tel_fijo  :  [-1  2  1]

tenencia  :  [4 1 2 5 3 6]

tinaco_azo  :  [1 2]

tipo_adqui  :  [ 2  1  3 -1  4  5  7  6  8]

tipo_finan  :  [ 5  2  1 -1  4  3]

tipo_viv  :  [ 1  3  2  5 -1  4]

tot_hog  :  [1 2 3 4 5]

tot_resid  :  [ 4  2  6  3  1  7  5  8  9 15 10 12 11 16 13 14 20 19 17 22 24 25 21 18 -1]

tv_paga  :  [-1  1  2]

ubica_geo  :  [ 10010001  10030001  10050001 ..., 320540074 320550088 320550011]

upm  :  [ 710 1450  970 ..., 8101 8102 8103]

uso_compar  :  [ 2  1 -1]

valor_viv  :  [-1  6  5  4  9  3  7  2  1]

vend_hered  :  [-1  1  2]

viv_usada  :  [-1  2  1  9]

year  :  [2014 2015 2016 2017]

In [43]:
df_copy[(df_copy.folioviv == -1)]

Empty DataFrame
Columns: [ageb, aire_acond, ais_otro, ais_pared, ais_techos, ais_ventan, anio_panel, anio_res, antiguedad, auto_pick, bano_comp, bano_excus, bano_regad, bomba_agua, calefacc, calent_gas, calent_sol, calentador, celular, chimenea, cisterna, cocina, cocina_dor, combustible, computador, comun1, comun10, comun11, comun12, comun13, comun14, comun15, comun16, comun17, comun2, comun3, comun4, comun5, comun6, comun7, comun8, comun9, condominio, const_bano, const_coci, const_dorm, const_neg, cuart_dorm, disp_agua, disp_elect, dispos_ne, dispos_nh1, dispos_nh2, dispos_no1, dispos_no2, dotac_agua, drenaje, elevador, eli_basura, escrituras, est_dis, est_socio, estaciona, estufa_chi, excusado, factor, factor_viv, facul_ne, facul_nh1, facul_nh2, facul_no1, facul_no2, familiar, financia_1, financia_2, financia_3, financia_4, financia_5, financia_6, financia_7, financia_8, focos_ahor, focos_inca, folioviv, fregadero, hog_dueno1, hog_dueno2, internet, lavadero, mat_pared, mat_pisos, mat_techos, medidor_luz, mes_res, num_cuarto, num_dueno1, num_dueno2, pago_renta, panel_ne, pileta, ...]
Index: []

[0 rows x 134 columns]

In [44]:
df_copy.to_csv('../dataframes/viviendas.csv')