Características correspondientes a la percepción de seguridad pública y el desempeño institucional.

In [7]:
import pandas as pd
import missingno as msno
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
file = '../dataframes/seguridad_publica_2014.csv'
df_s14 = pd.read_csv(file)
df_s14.head()

,Unnamed: 0,Unnamed: 0.1,CONTROL,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP4_1,AP4_2_01,...,FAC_ELE,DOM,EST,UPM,FAC_HOG_AM,FAC_ELE_AM,year,ID_VIVIENDA,CVE_ENT,CVE_MUN
0,0,0,100001,1,1,B,1,14.0,3,1,...,382,U,5,1,192.0,384.0,2014,100002,1,1
1,1,1,100001,2,1,B,2,14.0,3,0,...,382,U,5,1,192.0,384.0,2014,100003,1,1
2,2,2,100001,3,1,B,1,14.0,3,0,...,764,U,5,1,192.0,768.0,2014,100004,1,1
3,3,3,100001,4,1,A,1,14.0,1,0,...,764,U,5,1,192.0,768.0,2014,100005,1,1
4,4,4,100001,5,1,B,3,14.0,3,0,...,573,U,5,1,192.0,576.0,2014,100006,1,1

In [9]:
file = '../dataframes/seguridad_publica_2015.csv'
df_s15 = pd.read_csv(file)
df_s15.head()

,Unnamed: 0,Unnamed: 0.1,ID_PER,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP4_1,...,EST_DIS,UPM_DIS,DOMINIO,ESTRATO,FAC_HOG_AM,FAC_ELE_AM,year,ID_VIVIENDA,CVE_ENT,CVE_MUN
0,0,0,0100006.01.01.01,100006,1,1,B,1,14.0,3,...,5,1,U,3,173,519,2015,100007,1,1
1,1,1,0100006.02.01.02,100006,2,1,A,2,14.0,3,...,5,1,U,3,173,346,2015,100008,1,1
2,2,2,0100006.03.01.01,100006,3,1,A,1,14.0,3,...,5,1,U,3,173,346,2015,100009,1,1
3,3,3,0100006.04.01.02,100006,4,1,A,2,14.0,1,...,5,1,U,3,173,346,2015,100010,1,1
4,4,4,0100006.05.01.01,100006,5,1,B,1,14.0,2,...,5,1,U,3,173,173,2015,100011,1,1

In [10]:
file = '../dataframes/seguridad_publica_2016.csv'
df_s16 = pd.read_csv(file)
df_s16.head()

,Unnamed: 0,ID_VIV,ID_HOG,ID_PER,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,...,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS,year,ID_VIVIENDA,CVE_ENT,CVE_MUN
0,0.0,100006.01,0100006.01.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0100006.01.01.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,100006,1,1.0,B,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1,0,1.0,0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
file = '../dataframes/seguridad_publica_2017.csv'
df_s17 = pd.read_csv(file)
df_s17.head()

,Unnamed: 0,ID_VIV,ID_HOG,ID_PER,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,...,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS,year,ID_VIVIENDA
0,0.0,100008.01,0100008.01.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0100008.01.01.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,100008,1,1.0,B,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1,1,40.0,14,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1,Aguascalientes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = pd.concat([df_s14, df_s15, df_s16, df_s17])

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [ ]:
df_copy = df.copy()
df_copy.head()

In [1]:
df_copy.year.replace(({2014 : 1, 2015 : 2, 2016 : 3, 2017 : 4}), inplace=True)

NameError: name 'df_copy' is not defined

In [ ]:
df_copy.shape

In [ ]:
df_copy.columns.tolist()

In [ ]:
df_copy

In [ ]:
df_copy.replace({'\r' : np.NaN}, inplace=True)

In [ ]:
for line in df_copy.columns:
    print(line, ' : ', df_copy[line].unique(), '\n')

In [ ]:
df_copy.columns[df.isnull().any()].tolist()

In [ ]:
len(df_copy.columns[df.isnull().any()].tolist())

In [ ]:
df_s14.shape

In [ ]:
df_s15.shape

In [ ]:
df_s16.shape

In [ ]:
df_s17.shape

In [ ]:
df_copy.shape

In [ ]:
df_copy.to_csv('../dataframes/seguridad_publica.csv')

In [ ]:
file = '../dataframes/seguridad_publica.csv'
df = pd.read_csv(file)
df.head()

In [ ]:
df_copy.shape

In [ ]:
missingdata = df_copy.columns[df_copy.isnull().any()].tolist()
len(missingdata)

In [ ]:
df_copy.shape

In [ ]:
msno.matrix(df_copy[missingdata])
plt.savefig('../figures/matrix_original_data_seguridad_publica.svg')
plt.savefig('../figures/matrix_original_data_seguridad_publica.png')

In [ ]:
msno.bar(df_copy[missingdata])
plt.savefig('../figures/bar_original_data_seguridad_publica.svg')
plt.savefig('../figures/bar_original_data_seguridad_publica.png')

In [ ]:
msno.heatmap(df_copy)
plt.savefig('../figures/heatmap_original_data_seguridad_publica.svg')
plt.savefig('../figures/heatmap_original_data_seguridad_publica.png')

# Clean

In [ ]:
df_copy.shape

In [ ]:
df_copy.fillna(value=-1, inplace=True)

In [ ]:
n = df_copy.columns.values.tolist()
m = round(df_copy.shape[0]*.60)

l = []
for i in n:
    if df_copy[i].value_counts().get(-1) != None:
        if m < df_copy[i].value_counts().get(-1):
            l.append(i)
            df_copy.drop(labels=i, axis=1, inplace=True)

In [ ]:
l

In [ ]:
len(l)

In [ ]:
df_copy.shape

In [ ]:
list_dis = ['EST_DIS', 'FAC_ELE', 'FAC_ELE_AM', 'FAC_HOG', 'FAC_HOG_AM', 'ID_HOG', 'ID_PER', 'ID_VIV', 'UPM', 'UPM_DIS', 'Unnamed: 0', 'VIV_SEL', 'R_SEL', 'RESUL_H']

In [ ]:
df_copy.drop(labels=list_dis, axis=1, inplace=True)

In [ ]:
df_copy.shape

In [ ]:
df_copy.replace(to_replace=-1, value=np.NaN, inplace=True)

### `Dominio`

In [ ]:
df_copy.DOMINIO.unique()

In [ ]:
df_copy.DOMINIO.replace({'U\r': 'U', 'C\r':'C', 'R\r':'R'}, inplace=True)

In [ ]:
df_copy.DOMINIO.unique()

In [ ]:
df_copy.DOMINIO.replace({'U': '1', 'C':'2', 'R':'3'}, inplace=True)

In [ ]:
df_copy.DOMINIO.unique()

In [ ]:
for line in df_copy.columns:
    print(line, ' : ', df_copy[line].unique(), '\n')